<div class="row">
  <div id="intro" class="col-lg-6">
    <h1>Teenager</h1>
    <p>H αίτηση για εγγραφή θα είναι διαθέσιμη πολύ σύντομα. Στα τέλη περίπου του καλοκαιριού θα ενεργοποιηθούν όλοι οι λογαριασμοί.</p>
  </div>
</div>